* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
}

/*=================MENU HAMBURGUESA ==================== */
.menu {
    background-color: #6f6f6f;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.hamburguesa {
    color: rgb(214, 214, 214);
    font-size: 30px;
    cursor: pointer;
    padding: 0px;
    position: fixed;
    top: 30px;
    left: 90%;
    font-size: 30px;
    z-index: 1000;
}


.menu-desplegable {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
    display: flex;

}

.menu-desplegable.activo {
    right: 0;
}

.botonGris {
    background-color: #dcdcdc;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.botonNaranja {
    background-color: #f5a623;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.menu-desplegable .botonGris,
.menu-desplegable .botonNaranja {
    width: 100%;
    border-radius: 50px;
}

/* Espaciado botones */
.menu .col-md-2,
.menu .col-md-1 {
    margin-right: 20px;
}

/* ===== Header ===== */
.header {
    background: #5f5f5f;
    padding: 40px 5%;
}

.imagen-header {
    background: #e0a12d;
    height: 180px;
    margin-bottom: 20px;
}

.titulo-header {
    background: #dcdcdc;
    height: 35px;
    margin-bottom: 20px;
    width: 80%;
}

.linea {
    background: #4a4a4a;
    height: 12px;
    margin-bottom: 10px;
    width: 90%;
}

/* ===== Contenido ===== */
.contenido {
    padding: 50px 5%;
}

.video-grande {
    background: #4a4a4a;
    height: 300px;
    margin-bottom: 30px;
}

.texto-grande {
    background: #6a6a6a;
    height: 12px;
    margin-bottom: 10px;
    width: 85%;
}

.card-mini {
    background: #5a5a5a;
    height: 120px;
    margin-bottom: 10px;
}

.linea-mini {
    background: #6a6a6a;
    height: 10px;
    margin-bottom: 5px;
    width: 80%;
}

/* ===== Sidebar ===== */
.sidebar {
    background: #4f4f4f;
    padding: 40px 20px;
    margin-top: 40px;
}

.item-sidebar {
    display: flex;
    margin-bottom: 30px;
}

.cuadro-rojo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.rojo1 {
    background: #c91c3d;
}

.rojo2 {
    background: #ff1c1c;
}

.rojo3 {
    background: #d91c1c;
}

.rojo4 {
    background: #ff5a5a;
}

.texto-sidebar {
    flex: 1;
}

