.container9-fluid {
    background: #1f1f1f;
    padding: 40px 60px;
}

/* TITULOS */
.title9 {
    width: 220px;
    height: 35px;
    background: #ff6a00;
    margin-bottom: 15px;
}

.subtitle9 {
    width: 350px;
    height: 10px;
    background: #555;
    margin-bottom: 10px;
}

/* POSTS */
.posts9 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* cada fila */
.post9 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* miniaturas (izquierda) */
.thumb9 {
    width: 100px;
    height: 100px;
    background: #777;
    flex-shrink: 0;
}

/* contenido (barra larga derecha) */
.content9 {
    flex: 1;
    height: 100px;
    background: #444;
}

/* líneas inferiores derecha */
.bottom-line9 {
    width: 250px;
    height: 6px;
    background: #555;
    margin-top: 10px;
    margin-left: auto;
}

/* FOOTER */
.footer9 {
    background: #2b2b2b;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* columnas footer */
.foot-card9 {
    flex: 1;
}

/* título footer */
.foot-title9 {
    height: 20px;
    background: #ff6a00;
    margin-bottom: 15px;
}

/* líneas footer */
.foot-line9 {
    height: 6px;
    background: #555;
    margin-bottom: 8px;
    width: 80%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .post9 {
        flex-direction: column;
        align-items: flex-start;
    }

    .thumb9 {
        width: 100%;
        height: 150px;
    }

    .content9 {
        width: 100%;
    }

    .footer9 {
        flex-direction: column;
    }
}

/* ================= HEADER ================= */

a {
    text-decoration: none;
    color: black;
}

/*=================MENU HAMBURGUESA ==================== */

.hamburguesa {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    padding: 0px;
    position: fixed;
    top: 30px;
    left: 90%;
    font-size: 30px;
    z-index: 9999;
}


.menu-desplegable {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
    display: flex;
    z-index: 1000;

}

.menu-desplegable.activo {
    right: 0;
}

.botonGris {
    background-color: #dcdcdc;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.botonNaranja {
    background-color: #f5a623;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.menu-desplegable .botonGris,
.menu-desplegable .botonNaranja {
    width: 100%;
    border-radius: 50px;
}

/* Espaciado botones */
.menu .col-md-2,
.menu .col-md-1 {
    margin-right: 20px;
}