body {
    background-color: #292c30;
}

/* ================= HEADER ================= */

a {
    text-decoration: none;
    color: black;
}

/*=================MENU HAMBURGUESA ==================== */

.hamburguesa {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    padding: 0px;
    position: fixed;
    top: 30px;
    left: 90%;
    font-size: 30px;
    z-index: 9999;
}


.menu-desplegable {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
    display: flex;
    z-index: 1000;

}

.menu-desplegable.activo {
    right: 0;
}

.botonGris {
    background-color: #dcdcdc;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.botonNaranja {
    background-color: #f5a623;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.menu-desplegable .botonGris,
.menu-desplegable .botonNaranja {
    width: 100%;
    border-radius: 50px;
}

/* Espaciado botones */
.menu .col-md-2,
.menu .col-md-1 {
    margin-right: 20px;
}

.menu {
    background-color: #1a161b;
    height: 100px;
    text-align: center;

}

.cuadro {
    background-color: rgb(157, 106, 216);
    height: 40px;
    width: 40px;
    margin: 30px;

}

.botonGris1 {
    background-color: rgb(130, 80, 163);
    height: 40px;
    width: 300px;
    margin: 30px;

}

.botonGris2 {
    background-color: rgb(130, 80, 163);
    height: 40px;
    width: 300px;
    margin: 30px;

}

.botonMorado {
    background-color: rgb(163, 112, 211);
    height: 40px;
    width: 40px;
    margin: 30px;

}

.alinear1 {
    display: flex;
    justify-content: end;
}

.rebote {
    animation: rebote 0.4s;
}

@keyframes rebote {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


/* Altura fija del carousel */
#theCarousel {
    max-width: 1000px;
    /* ancho máximo */
    margin: auto;
    /* centrar */
}

#theCarousel .carousel-item img {
    height: 500px;
    /* altura que tú quieras */
    object-fit: cover;
    /* ajusta la imagen sin deformarla */
}

.botonGris1,
.botonGris2 {
    background-color: #9a6daf;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.botonMorado {
    background-color: #6f42c1;
    color: white;
    padding: 20px;
    font-weight: bold;
}

footer {
    background-color: #212529;
    padding: 20px 0;
}

.foot-title {
    height: 15px;
    background-color: #996eca;
    margin-bottom: 10px;
}

.foot-line {
    height: 10px;
    background-color: #6c757d;
    margin-bottom: 8px;
}

.contenedor-cuadros {
    display: flex;
    gap: 35px;
    /* separación entre cuadros */
    justify-content: center;
    /* centrarlos */
    padding: 20px;
    background-color: transparent;
    /* fondo oscuro como la imagen */
}

.cuadrito {
    width: 100px;
    height: 100px;
    background-color: #9870da;
    /* gris */
    border-radius: 5px;
    /* esquinas suaves (opcional) */
}

.foot-line-2 {
    height: 100px;
    background-color: transparent
}